/* Required for sticky footer. */
html{ 
    position: relative;
    min-height: 100%;
}

body{
    font-family: 'Merriweather', serif;
    background-image: url("./images/houndstooth-pattern.png");
    background-repeat: repeat;
    font-size: 20px;
}

.container{
    position: relative;
}

#collapsibleNavbar{
    position: absolute;
    right: 8px;
}

.navbar-light .navbar-brand{
    background-color: #4aaaa5;
    font-size: 2rem;
}

.nav-link{
    line-height: 0.75;
}

@media only screen and (max-width: 768px){
    .nav-link{
        line-height: 1.5!important;
    }
}

h1{
    color: #4aaaa5;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; 
    text-align: center;
    background-color: rgb(66, 66, 66);
    border-top: 8px solid #4aaaa5;
}

.footer .text-muted{
    font-size: 0.7rem;
    line-height: 50px; 
}

.portfolio-item-text{
    display:none;
    position: absolute;
    bottom: calc(100%/2);
    color: white;
    z-index: 3;
}

.card{ 
    position: relative;
    z-index:1;
}

.card::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(20, 148, 148, 0.667);
    transition: .5s ease;
}

.card:hover::before{
    opacity: 0.7;
}

.card:hover .portfolio-item-text {
    display: block;
}
/* I just copied this form stuff because we haven't gone over forms yet. */
* {
    box-sizing: border-box;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(20, 148, 148, 0.667);
}

.form-box {
    border-radius: 5px;
}